.topnav {
 background-color: #F17E7E;
 overflow: hidden;
 }

.topnav a {
 float: right;
 color: black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 19px;
 font-family: arial;
 }

.topnav a:hover {
 background-color: #D56464;
 color: black;
 }